<h1 align="center" >Listing notes</h1>

<div id="note-container">
  <% @note.each do |note| %>
    <div class="note-content">
      <h3 align="center">
        <%= note.title %>
      </h3>
      <p>
        <%= note.text %>
      </p>
        <%= link_to 'Show', note_path(note) %>
        <%= link_to 'Edit', edit_note_path(note) %>
        <%= link_to 'Destroy', note_path(note),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>

    </div>
  <% end %>
</div>
<div id="control-container">
<div class="btn-content">
 <%= button_to 'Add note', new_note_path, method: :get %>
</div>
</div>
